<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
    <link href="../stylesheets/profile.style.css" rel="stylesheet"/>
  </head>
  <body class="background-image">
    <div class="brand">
      <img src="../images/flightlogo.png" alt="brandlogo"/>
    </div>

    {{!-- horizontal navbar for user profile dashboard --}}
    <nav>
      <div class="hamburger-menu">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/profile">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Destinations</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="auth/crew">Crew</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="auth/our-fleet">Our Fleet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="logoutLink"href="#" onclick="performLogout(event)">Logout</a>
        </li>
      </ul>
    </nav>
  


    {{! vertical navbar for user profile dashboard }}

    <div id="dashboard-container">
      <div class="leftside-menu">
        <div class="avatar">
          <div class="icon">
            {{#if loggedInUser.profilePic}}
            <img src="{{loggedInUser.profilePic}}" alt="Profile Picture" />
          {{else}}
            <!-- Display a default image -->
            <img
              src="../images/image_icon.jpg"
              alt="Default Profile Picture"
              class="default-image"
            />
          {{/if}}
          </div>
          <p id="usersName">{{loggedInUser.firstName}} {{loggedInUser.lastName}}</p>
          <hr>
        </div>
        <nav class="vertical-menu">
          <li id="manageProf" onclick="makeActive(this)">manage profile</li>
          <li id="trainStat" onclick="makeActive(this)">training status</li>
          <li id="flightInfo" onclick="makeActive(this)">flight information</li>
          <li id="manageFlight" onclick="makeActive(this)">manage flight</li>
          <li id="yourSuit"onclick="makeActive(this)">your suit</li>
          <li id="support" onclick="makeActive(this)">support / assistance</li>
        </nav>
      </div>
      <div id="noFlightBooked">
        <p>You have no spaceflight booked, yet</p>
        <a href="/auth/booking" class="bookNow">Book a flight</a>
      </div>

      <div class="main-grid">

        <div class="destination-grid">
          <h1 id="grid1" class="flight-path">Your Flight Path</h1>
          <p>{{passenger.destination}}</p>
        </div>

        <div class="distance-grid">
          <h1 class="grid2" class="distance">Kilometers Travel</h1>
        </div>

        <div class="travelTime-grid">
          <h1 class="grid3" class="travelTime">Travel Time</h2>
        </div>

        <div class="timer-grid">
          <h1 class="grid4" class="timer">timer</h2>
          </div>
      </div>

          {{!-- Your Suit --}}
      <div class="suit-container" style="display: none;">
        
        <div class="suit-image" id="frontSuit">
          <img src="../images/suitFront.png" alt="Front side of the space suit" />
          </div>
          <div class="suit-details">
            <h3>EMU SPACESUIT</h3>
            <ul>
              <li>Helmet and Visor</li>
              <li>Communication System</li>
              <li>Life-support System</li>
              <li>Gloves</li>
              <li>Space Boots</li>
              </ul>
          </div>
        
        <div class="suit-image" id="backSuit">
          <img src="../images/suitBack.png" alt="Back side of the space suit" />
        </div>
      </div>
    
      {{!-- Training Status --}}
      <div class="training-container">
        <div class="tabs">
          <div class="tab">
            <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
             <label for="tab-1" class="tab-label">Day 01</label>
             <div class="tab-content">
               <h4>Orientation and Spacecraft familiarization</h4>
               <p>Layout and functionality of the spacecraft.</p>
               <p>Location and use of safety equipment.</p>
               <p>Communication protocols.</p>
              </div>
            </div>
            <div class="tab">
              <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
              <label for="tab-2" class="tab-label"> Day 02</label>
              <div class="tab-content">
                <h4>Microgravity Adaptation</h4>
                <p>Adaptation to microgravity, including balance and movement.</p>
                <p>Exercise regimens to strengthen muscles and cardiovascular fitness for withstanding G-forces during launch and re-entry</p>
                <p>Parabolic flight training to experience short periods of weightlessness</p>
              </div>
            </div>
            <div class="tab">
              <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
               <label for="tab-3" class="tab-label">Day 03</label>
               <div class="tab-content">
                <h4>Spacewalk: Extravehicular Activity (EVA) Training</h4>
                <p>Use of spacewalk suits and life support systems</p>
                <p>Maneuvering with handrails and safety tethers.</p>
                <p>Safe ingress and egress practices, especially in suits and with life support packs.</p>
              </div>
            </div>
        </div>
         
         {{!-- manage flight section --}}
        </div>
          <div class="flightManagementSection" style="display: none;">
          <h2>Manage Your Flight</h2>
          <form id="flightUpdateForm" action="/update-passenger/{{passenger._id}}" method="post">

          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" value="{{passenger.firstName}}" readonly>
          
           <label for="lastName">Last Name</label>
           <input type="text" id="lastName" name="lastName" value="{{passenger.lastName}}" readonly>
           
            <label for="bookingNo">Booking No.</label>
            <input type="text" id="bookingNo" name="bookingNo" value="{{passenger._id}}" readonly>
            
            <label for="departure">Departure</label>
            <input type="text" id="depart" name="departure" value="{{passenger.departure}}" readonly>

            <label for="destination">Destination</label>
            <input type="text" id="dest" name="destination" value="{{passenger.destination}}" readonly>

            <br>


             <button type="button" id="updateButton" onclick="enableFormEdit">Update</button>
             <button type="submit" id="saveButton">Save Changes</button>
             </form>

          <button type="button" onclick="confirmAndDelete('{{passenger._id}}')">Delete</button>
        </div>


        
      </div>
        

    </div>

    <script src="/js/profile.js"></script>
  
  <form id="logout" action="/auth/logout" method="post" style="display:none"><input type="submit" value="Logout"></input></form>
</body>

</html>


